@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './datepicker.css';

:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Global Defaults */
  color: #0C0C4F; /* primary */
  background-color: #F8F9FA; /* lightbg */

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #F8F9FA; /* Force light background */
    color-scheme: light;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9999px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #e2e8f0; /* slate-200 */
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #cbd5e1; /* slate-300 */
  }
  
  /* For Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #e2e8f0 transparent;
  }
}
